.DebugBox {
    background-color: #161616;
    outline: 15px solid #161616;
    border: 3px solid #ffffff;
    margin: 15px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}
.DebugText {
    font-family: 'Stanley Moon';
    font-size: 25px;
    font-weight: 200;
}
#DevInformation {
    background-color: #161616;
    outline: 15px solid #161616;
    border: 3px solid #ffffff;
    color: #ffffff;
    transition: ease transform 1s, ease opacity 1s;
}
#CrashReportDebug {
    background-color: #190505;
    outline: 15px solid #190505;
    border: 3px solid #ffa1a1;
    color: #ffa1a1;
    transition: ease transform 1s 1s, ease opacity 1s 1s;
}
#CrashReportDebug, #DevInformation {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 100px;
    padding: 15px;
    font-size: 30px;
    z-index: 3;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 1300px;
    line-height: 30px;
}
#SadFace,#DevPics {
    width: 200px;
    height: 200px;
    background-position: 50%;
    background-size: cover;
    border-radius: 20px;
}
#SadFace {
    background-image: url('../static/hosisad.png');
}
#DevPics {
    background-image: url('../static/devnotice.png');
}
#CrashText,#DevVersion {
    font-size: 45px;
}
#CrashBorder {
    border: 3px solid #ffa1a1;
}
#DevInformationBorder {
    border: 3px solid #a1c9ff;
}
.crashpop {
    transform: translateY(700px); opacity: 0;
}